body{
    background-color: darkgrey;
}
header{
    background-color: cornflowerblue;
    text-align: center;
}
footer{
    background-color: cornflowerblue;
    text-align: center;
    
}
#fotQui{
    height: 5cm;
    width: 50%;
}
